apiVersion: v1
kind: Service
metadata:
  name: load-balancer
spec:
  selector:
    app: load-balancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ load_balancer_target_port }}
  type: LoadBalancer
